.book-card {
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 200px; 
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out; 
    margin-bottom: 60px;
    cursor: pointer;
    animation: slideIn 0.6s ease-in-out forwards;
  
  }
  
  .book-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  }
  
  .book-image img {
    cursor: pointer;
    width: 200px;
    height: 45vh;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  } 
  
  .book-image{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .book-title{ 
    position: absolute;
    bottom: -30px;
    z-index: 1;
    text-align: center;
    background: linear-gradient(to top, rgba(26, 26, 46,0.97) 20%, rgba(26, 26, 46, 0.8), rgba(26, 26, 46, 0.2));
    width: 100%;
    padding: 10px 0px;
    text-transform: capitalize;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .book-title span{
    font-weight: 550;
  }
  
  .book-title h3{
    margin: 0px;
    font-size: 1.4rem;
  }
  
  .book-title p{
    margin: 0px;
    padding: 0px 10px;
    margin-top: 5px;
    font-size: 1rem;
  }
  
  
  @keyframes slideIn {
    from {
      transform: scale(0) 
    }
    to {
      transform: scale(1) 
    }
  }
  
  